In [1]:
l1 = ['apple', 'red']

In [2]:
print(l1[0])
print(l1[1])

apple
red

In [4]:
d1 = {'fruit':'apple','color':'red'}

In [5]:
print(d1['fruit'])
print(d1['color'])

apple
red

In [9]:
d1['color']

'red'

Method 	Description
clear()	Removes all the elements from the dictionary
copy()	Returns a copy of the dictionary
fromkeys()	Returns a dictionary with the specified keys and value
get()	Returns the value of the specified key
items()	Returns a list containing a tuple for each key value pair
keys()	Returns a list containing the dictionary's keys
pop()	Removes the element with the specified key
popitem()	Removes the last inserted key-value pair
setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()	Updates the dictionary with the specified key-value pairs
values()	Returns a list of all the values in the dictionary

In [10]:
d1 = {'name': 'john', 'age':30 ,'location':'USA', 'designation':'software engineer','company':'google'}

In [11]:
d1

{'name': 'john',
 'age': 30,
 'location': 'USA',
 'designation': 'software engineer',
 'company': 'google'}

In [12]:
# access item
d1['age']

30

In [14]:
d1['name']

'john'

In [13]:
d1.get('name')

'john'

In [15]:
#  copy 
copy_d1 = d1.copy()

In [16]:
copy_d1

{'name': 'john',
 'age': 30,
 'location': 'USA',
 'designation': 'software engineer',
 'company': 'google'}

In [17]:
#make chnages to key value
d1['age']= 40

In [18]:
d1

{'name': 'john',
 'age': 40,
 'location': 'USA',
 'designation': 'software engineer',
 'company': 'google'}

In [19]:
d1.pop('company')

'google'

In [20]:
d1

{'name': 'john',
 'age': 40,
 'location': 'USA',
 'designation': 'software engineer'}

In [22]:
l1.pop(0)

'apple'

In [24]:
l1.pop()

'red'

In [25]:
l1

[]

In [26]:
d1

{'name': 'john',
 'age': 40,
 'location': 'USA',
 'designation': 'software engineer'}

In [27]:
d1.popitem()

('designation', 'software engineer')

In [28]:
d1

{'name': 'john', 'age': 40, 'location': 'USA'}

In [29]:
del d1['age']

In [30]:
d1

{'name': 'john', 'location': 'USA'}

In [32]:
#setdefault
d1.setdefault('education','btech')

'btech'

In [33]:
d1

{'name': 'john', 'location': 'USA', 'education': 'btech'}

In [34]:
d1.setdefault('key1')

In [35]:
d1

{'name': 'john', 'location': 'USA', 'education': 'btech', 'key1': None}

In [37]:
x = ['key1', 'key2']
y = [1,2]
sample_dict = dict.fromkeys(x,y)
sample_dict

{'key1': [1, 2], 'key2': [1, 2]}

In [38]:
test_dict = {'name':'alice','age':30,'age':40}

In [39]:
test_dict

{'name': 'alice', 'age': 40}

In [40]:
d1

{'name': 'john', 'location': 'USA', 'education': 'btech', 'key1': None}

In [41]:
d1.keys()

dict_keys(['name', 'location', 'education', 'key1'])

In [42]:
d1.values()

dict_values(['john', 'USA', 'btech', None])

In [43]:
d1.items()

dict_items([('name', 'john'), ('location', 'USA'), ('education', 'btech'), ('key1', None)])

In [44]:
for i in d1:
    print(i)

name
location
education
key1

In [46]:
for i,j in enumerate (d1):
    print(i,j)

0 name
1 location
2 education
3 key1

In [47]:
d1

{'name': 'john', 'location': 'USA', 'education': 'btech', 'key1': None}

In [48]:
for i in d1.keys():
    print(i)

name
location
education
key1

In [49]:
for i in d1.values():
    print(i)

john
USA
btech
None

In [50]:
for i in d1.items():
    print(i)

('name', 'john')
('location', 'USA')
('education', 'btech')
('key1', None)

In [51]:
for i in d1.items():
    print(i[0])

name
location
education
key1

In [52]:
for i in d1.items():
    print(i[1])

john
USA
btech
None